<div class="top_nav">
    {{navbarTitle}}<br/>
    <input name="box" (keyup.enter)="onEnter(box.value)" [(ngModel)]="boxModel" placeholder="Type username then [enter]" required #box>
</div>

<div *ngIf="usernameBlank">
    <div class="alert alert-danger">Field cannot be blank.</div>
</div>

<h3>{{errorMessage}}</h3>

<div *ngIf="usernameEntered">
    <p><img src="{{usernameInput.avatar_url}}" height="100" width="100"></p>
    <p><strong>Username: </strong>{{usernameInput.login}}</p>
    <p><strong>Location: </strong>{{usernameInput.location}}</p>
    <p><strong>Email: </strong>{{usernameInput.email}}</p>
    <p><strong>Blog: </strong>{{usernameInput.blog}}</p>
    <p><strong>Member Since: </strong>{{usernameInput.created_at}}</p>

    <a href="{{usernameInput.html_url}}" class="btn btn-primary" type="button" >View Profile</a>
    <a (click)="onClick()" class="btn btn-secondary" type="button" >View Repositories</a>
</div>
<div *ngIf="reposClicked">
    <app-user-repo></app-user-repo>
</div>



