<div class="top_nav">
{{navbarTitle}}<br/>
<input #box (keyup.enter)="onEnter(box.value)" placeholder="Type username then [enter]"/>
</div>

<div *ngIf="usernameEntered">
    <p><img src="{{usernameInput.avatar_url}}" height="100" width="100"></p>
    <p><strong>Username: </strong>{{usernameInput.login}}</p>
    <p><strong>Location: </strong>{{usernameInput.location}}</p>
    <p><strong>Email: </strong>{{usernameInput.email}}</p>
    <p><strong>Blog: </strong>{{usernameInput.blog}}</p>
    <p><strong>Member Since: </strong>{{usernameInput.created_at}}</p>

    <a href="{{usernameInput.html_url}}">View Profile</a>
    <a href="{{usernameInput.repos_url}}">View Repositories</a>
</div>
